.cart {
    position: absolute;
    width: 100%;
    height: 100%;
}

.total {
    &__container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    &__amount {
    }
    &__price {
    }
}
