@import "../../styles/variables";
@import "../../styles/mixins";

.meallist-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.meallist {
    width: 75%;
    background-color: $color-white;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
    @include respond($desk) {
        width: 60%;
    }
    @include respond($big-desk) {
        width: 50%;
    }
}
