@import "../../styles/variables";
@import "../../styles/mixins";

.meallist-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.meallist {
    width: 75%;
    background-color: $color-white;
    border-radius: 2rem;
    @include respond($desk) {
        width: 60%;
    }
    @include respond($big-desk) {
        width: 50%;
    }
}
